# Web framework
Django==4.2
gunicorn
whitenoise
asgiref
sqlparse

# Database
dj-database-url
psycopg2-binary

# Environment variables
python-decouple

# Image processing
Pillow
opencv-python-headless
imageio
tifffile
imagesize

# Machine learning
scikit-learn
scikit-image
scipy
numpy
pandas
joblib
threadpoolctl
lazy-loader
networkx

# Utilities
requests
certifi
charset-normalizer
idna
urllib3
python-dateutil
tzdata
packaging
setuptools
six
typing_extensions
filelock
fsspec
future
PyYAML
tqdm
